@import url(https://fonts.googleapis.com/css?family=Nunito:,300,regular,600,800,200);

* {
  box-sizing: border-box;
}
body {
  ---background-color: white;
  ---text-color: black;
  ---element-color: white;
  background-color: var(---background-color);
  font-family: "Nunito", sans-serif;
  color: var(---text-color);
  margin: 0;
  transition: 0.5s ease-in-out;
}
body.dark {
  ---background-color: hsl(207, 26%, 17%);
  ---element-color: hsl(209, 23%, 22%);
  ---text-color: hsl(0, 0%, 100%);
  background-color: var(---background-color);
  color: var(---text-color);
  transition: 0.5s ease-in-out;
}
a {
  text-decoration-line: none;
  color: inherit;
}
.title {
  font-weight: 800;
}
.header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding-inline: 24px;
  background-color: var(---element-color);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
}
.theme-switcher {
  cursor: pointer;
}
main {
  padding: 24px;
}
.countries-container {
  max-width: 1200px;
  margin-top: 16px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: auto;
  gap: 66px;
}

.country-card {
  display: inline-block;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  font-family: inherit;
  padding-bottom: 24px;
  background-color: var(---element-color);
}

.country-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.card-title {
  font-size: 24px;
  margin-block: 16px;
}
.country-card img {
  width: 100%;
  height: 167px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.card-text {
  padding-inline: 16px;
}

.card-text p {
  margin-block: 8px;
}
.search-filter-container {
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.search-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding-block: 16px;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  padding-left: 24px;
  overflow: hidden;
  background-color: var(---element-color);
  color: var(---text-color);
}
.search-container input {
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 24px;
  width: 90%;
  background-color: inherit;
  color: inherit;
}
.search-container input::placeholder {
  color: #999;
}
.search-container i {
  color: grey;
}

.filter-by-region {
  min-width: 250px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: var(---element-color);
  color: var(---text-color);
}

@media (max-width: 780px) {
  .countries-container {
    justify-content: center;
  }
  .header {
    font-size: 12px;
  }
  .search-filter-container {
    flex-direction: column;
    row-gap: 36px;
  }
}
